@model ASPExample.ViewModels.ProductDetailsViewModel

<section class="product-article">
    <div class="product-information">
        <h1>@Html.DisplayFor(model => model.Product.Title)</h1>
        <h2>@Html.DisplayFor(model => model.Product.Category)</h2>
        <p>@Html.DisplayFor(model => model.Product.Description)</p>
    </div>
    <div class="product-reviews">
        <h1>Reviews(@Html.DisplayFor(model => model.ReviewsCount)): </h1>
        @if (Session["Username"] != null)
        {
            <button class="button">
                <span>
                    @Html.ActionLink(
                       linkText: "ADD REVIEW",
                       actionName: "Add",
                       controllerName: "Reviews",
                       routeValues: new { id = Model.Product.ProductId, previousPage = HttpContext.Current.Request.Url.AbsoluteUri },
                       htmlAttributes: null
                    )
                </span>
            </button>
        }
        else
        {
            <p>Login to add your reviews.</p>
        }
        @if (Model.Reviews.Count() > 0)
        {
            foreach (var review in Model.Reviews)
            {
                <div class="review">
                    <h2>@review.Heading</h2>
                    <p>@review.Body</p>
                    <span class="author bold-text">@review.Author</span>
                    <span class="date">@review.DateCreated.ToString("dd/MM/yyyy")</span>
                    @if (review.UserId == Convert.ToInt32(Session["UserId"]))
                    {
                        <div class="action-panel">
                            <span>
                                @Html.ActionLink(
                                   linkText: "EDIT",
                                   actionName: "Edit",
                                   controllerName: "Reviews",
                                   routeValues: new { id = review.ReviewId, previousPage = HttpContext.Current.Request.Url.AbsoluteUri },
                                   htmlAttributes: null
                                )
                            </span>
                            <span>
                                @Html.ActionLink(
                                   linkText: "DELETE",
                                   actionName: "Delete",
                                   controllerName: "Reviews",
                                   routeValues: new { id = review.ReviewId, previousPage = HttpContext.Current.Request.Url.AbsoluteUri },
                                   htmlAttributes: null
                                )
                            </span>
                        </div>
                    }
                </div>
            }
        }
        else
        {
            <span class="alert alert-notification">Sorry, there are no reviews yet.</span>
        }
    </div>
</section>